<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <?include productInfo.wxi ?>
  <Product Name='$(var.ProductName)' 
	Id='$(var.ProductGUID)' 
	UpgradeCode='$(var.ProductUpgradeCode)'
    Language='1033' 
	Codepage='$(var.codepage)' 
	Version='!(bind.FileVersion.appEXE)' 
	Manufacturer='$(var.ProductManufacturer)'>

    <Package Id='*' 
		Keywords='Installer' 
		Description="$(var.ProductName) Setup"
		Comments='$(var.ProductDescription)' 
		Manufacturer='$(var.ProductManufacturer)'
		InstallerVersion='300' 
		Languages='1033' 
		Compressed='yes'
		Platform='$(var.Platform)'		
		SummaryCodepage='$(var.codepage)'/>

<!--				AdminImage="yes" 
		InstallPrivileges="limited" -->

    <Media Id='1' Cabinet='Sample.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" CompressionLevel="high" />
    <Property Id='DiskPrompt' Value="$(var.ProductName) Installation [1]" />
	<Property Id="DISABLEADVTSHORTCUTS" Value="1" />
	<Property Id="ALLUSERS" Value="1"/>
	
    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
        <Directory Id='INSTALLDIR' Name='$(var.ProductNameShort)'>
                <Component Id="cmp4B5BEF3E6FA093275C7685056C3BED76">
                    <File Id="fil3A9F34CD51194B07519FBC81D058EA9A" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\freebl3.dll" />
                </Component>
                <Component Id="cmp5D9552305D370D14D3E52F0F58F20289">
                    <File Id="fil5AB1B6CFD554789DEF3E2B7B936A6ADD" KeyPath="yes" Source="$(var.MySource)\intl.dll" />
                </Component>
                <Component Id="cmpC5B6621C6BC14875AAACE3BAE019BBF7">
                    <File Id="fil77670B41C6C0F718E94E3A0DF126366E" KeyPath="yes" Source="$(var.MySource)\libglib-2.0-0.dll" />
                </Component>
                <Component Id="cmpBD142C6A4FDF5ED70D14D153FCF1C8C4">
                    <File Id="filDCA51EED4E050D57BA04875AF9FBA963" KeyPath="yes" Source="$(var.MySource)\libgmodule-2.0-0.dll" />
                </Component>
                <Component Id="cmpBC8E58B56EB959A22E223F020811B0F4">
                    <File Id="filB9D888DB400A346D5958EB2B13445259" KeyPath="yes" Source="$(var.MySource)\libgobject-2.0-0.dll" />
                </Component>
                <Component Id="cmpBF2F64F5E4A756F99E8E9CF06233C9BA">
                    <File Id="fil3C1C05D0C252E846615D3104F2E4713F" KeyPath="yes" Source="$(var.MySource)\libgthread-2.0-0.dll" />
                </Component>
                <Component Id="cmp68787459FF02C7B01876FABC04D66436">
                    <File Id="fil7EFE9281D90B5C75FF6B11DFF5CB8862" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\libjabber.dll" />
                </Component>
                <Component Id="cmp84FCA4500BB39F43137627D190354ED0">
                    <File Id="filA72A0F4FC6D050AA8BBB83039956D8ED" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\libmeanwhile-1.dll" />
                </Component>
                <Component Id="cmpD41DF5F43D32996331A17862EA7B1AFB">
                    <File Id="fil4A13DA82328BEC642B850CE66BA875E3" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\libnspr4.dll" />
                </Component>
                <Component Id="cmpE7A480A3F2B14D0934FBD5D93E7F16A8">
                    <File Id="fil966602BFB6AD4A82C9A86ADDD1DC8246" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\liboscar.dll" />
                </Component>
                <Component Id="cmp45AC559D28517F5432DF5784A1E4FC00">
                    <File Id="filA5D0471B391A26D36E891B7E2BEDF82D" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\libplc4.dll" />
                </Component>
                <Component Id="cmp93FE3FADD34026B30D964D067C904CD0">
                    <File Id="filB2B907496F333D9EFD1391AC3ED09D87" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\libplds4.dll" />
                </Component>
                <Component Id="cmp2BC355DF5A52D074F271FCB7333869B4">
                    <File Id="fil7141791643B0708E46865513B2DFCCEC" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\libpurple.dll" />
                </Component>
                <Component Id="cmp8C3AFA76A0E2701533D313BD3D706438">
                    <File Id="filABD5666AB5D24F5A86BAAAAB7AC0BCE0" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\libsasl.dll" />
                </Component>
                <Component Id="cmp9EF0E5799FB96988C3BBF1899EC52118">
                    <File Id="fil45312C100E0FFE3FBA8FE49E3064599F" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\libsilc-1-1-2.dll" />
                </Component>
                <Component Id="cmp1D08FA19686CA1642ED7C43C774C326B">
                    <File Id="fil94BF39FEADFE5188280DA4A7FC7FD9F8" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\libsilcclient-1-1-3.dll" />
                </Component>
                <Component Id="cmpD3FC5DEDF3EF79DAE73E737F85E96159">
                    <File Id="fil2BCA6AD0840B22031C709ADD9DD8838D" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\libxml2-2.dll" />
                </Component>
                <Component Id="cmpA85B025D51ABD87EDD4AA47B1E9A4E4E">
                    <File Id="fil31689F0BF8CF2D93BCCEE42C864447A8" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\libymsg.dll" />
                </Component>
                <Component Id="cmp220992909CD358E67B702DD90B5B0F7E">
                    <File Id="filBE27FF1563B5FEC8CD31946E0569B449" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\nss3.dll" />
                </Component>
                <Component Id="cmpD027EF6B7483C15904F46AD47AA2A28D">
                    <File Id="filDE3152A6E8A0E084C3C601AEE5742D8D" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\nssutil3.dll" />
                </Component>
                <Component Id="cmp8CAFBBCEFDA096798C6BD867EFDAD51C">
                    <File Id="appEXE" KeyPath="yes" Source="$(var.MySource)\Quail.exe">
					  <Shortcut Id="startmenuFoobar10" Directory="ProgramMenuDir" Name="Quail IM" WorkingDirectory='INSTALLDIR' Icon="icon.ico" IconIndex="0" Advertise="yes" />
					  <Shortcut Id="desktopFoobar10" Directory="DesktopFolder" Name="Quail IM" WorkingDirectory='INSTALLDIR' Icon="icon.ico" IconIndex="0" Advertise="yes" />
					</File>
                </Component>
                <Component Id="cmp8CAFBBCEFDA096798C6BD867EFDAD999">
                    <File Id="filD8E49E331A09B43B8BB3512AA6122921" KeyPath="yes" Source="$(env.QTDIR)\bin\Qt5Core.dll" />
                </Component>
                <Component Id="cmp8CAFBBCEFDA096798C6BD867EFDAD998">
                    <File Id="filD8E49E331A09B43B8BB3512AA6122922" KeyPath="yes" Source="$(env.QTDIR)\bin\Qt5Gui.dll" />
                </Component>
                <Component Id="cmp8CAFBBCEFDA096798C6BD867EFDAD997">
                  <File Id="filD8E49E331A09B43B8BB3512AA6122923" KeyPath="yes" Source="$(env.QTDIR)\bin\Qt5Network.dll" />
                </Component>
                <Component Id="cmp8CAFBBCEFDA096798C6BD867EFDAD996">
                  <File Id="filD8E49E331A09B43B8BB3512AA6122924" KeyPath="yes" Source="$(env.QTDIR)\bin\Qt5WebKit.dll" />
                </Component>
                <Component Id="cmp7CB62F256AD65EB531C849429006E22F">
                    <File Id="fil3FC902A40EFE599A5FDB6A6DBABD4C29" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\smime3.dll" />
                </Component>
                <Component Id="cmpD6F61D19F9B876CE54A6BA6D3A31A66E">
                    <File Id="fil1F0904D614E550B082E1A21180E6C8E6" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\softokn3.dll" />
                </Component>
                <Component Id="cmp567C483BF0D5D0DBE2FAAA72E7B189FA">
                    <File Id="fil6D169DC4ABA9CD5D4BD89BBEEC3A663B" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\sqlite3.dll" />
                </Component>
                <Component Id="cmp6E06CF1AC1078DBDA60AEFAB256DC714">
                    <File Id="fil92A3378C09EACE1877AA87BCBFE90F11" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\ssl3.dll" />
                </Component>
                <Component Id="cmp400F6DB334F0F58A86E6205D3BB91F2F">
                    <File Id="filBEF04C1377CCFA908665C1DB6FDD2FB2" KeyPath="yes" Source="$(var.MySource)\zlib1.dll" />
                </Component>
                <Directory Id="dir7E02291B9873DD09A511AB119A04904B" Name="plugins">
                    <Component Id="cmp01F0489D00C0B0CF544F337EE0D16E1D">
                        <File Id="fil5ABF55DA0222593B31ECF77BA2A50945" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\autoaccept.dll" />
                    </Component>
                    <Component Id="cmp1AAA9FABB51C8BDB0872676B43A3F447">
                        <File Id="fil322B77CFF1831D247C996187F5BFE351" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\buddynote.dll" />
                    </Component>
                    <Component Id="cmp4FD6634C3E103B79E6A557C6355D3050">
                        <File Id="fil08F686A2382D0542058D0FD0DE7D127D" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\convcolors.dll" />
                    </Component>
                    <Component Id="cmp54ECF1ACEE71713E7E1F60814B58186A">
                        <File Id="fil911A2865CEB5E0BC5AB670180076E288" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\extplacement.dll" />
                    </Component>
                    <Component Id="cmpA63B45F30CF5822BA4B815AD4959E3F7">
                        <File Id="fil779241541C549CD7BC4AE8A09386DB32" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\gtkbuddynote.dll" />
                    </Component>
                    <Component Id="cmp78EB641082D932284CD9EBE1FF4E84A8">
                        <File Id="fil184F4A32B1484FD914AD91E0DF921EBE" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\history.dll" />
                    </Component>
                    <Component Id="cmp25BFA6EF089DC1EF2464F484F2D16316">
                        <File Id="fil07CEA2F5683CE59C46886A319520381D" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\iconaway.dll" />
                    </Component>
                    <Component Id="cmp13DAEB208803818205035FA477EACA37">
                        <File Id="fil2AD4E7F746FE9C4ABE0E09DBF0C73B6E" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\idle.dll" />
                    </Component>
                    <Component Id="cmpCBD09E649EEF9504A30804A20BDEA196">
                        <File Id="fil3180BD0C5A2F1FA2F79FB161CD8934A0" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\joinpart.dll" />
                    </Component>
                    <Component Id="cmpC0311F4E69D4BAFD51839D922697B843">
                        <File Id="filB9164A7D94FBADC01599745B6F34693B" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\libaim.dll" />
                    </Component>
                    <Component Id="cmp44A65A949CCABC559604A8F73EEB47DF">
                        <File Id="filBC9478738D7B4C68B5840727D366B6C6" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\libbonjour.dll" />
                    </Component>
                    <Component Id="cmp476E6526C3A53FC3DE62C3992FE1C284">
                        <File Id="fil78759CA2E9E358A9B24931085BFFB9E0" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\libgg.dll" />
                    </Component>
                    <Component Id="cmp06EA0CFE99A91BE320B28320A72824BB">
                        <File Id="fil1DEC28A6EF1E7EC72C7DEC25E8DA15FB" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\libicq.dll" />
                    </Component>
                    <Component Id="cmpD271E68AB674D6CE8F77380183FA1801">
                        <File Id="filDAF484C42FA6CE04D1EE4F38D955DD84" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\libirc.dll" />
                    </Component>
                    <Component Id="cmp8C3A6F1184FDCD2B990EE5F9EC7C7AE4">
                        <File Id="filF873B1E80F816FEE5713C8B8C92FABC9" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\libmsn.dll" />
                    </Component>
                    <Component Id="cmp1B018080FE374F058AAEBEB5A6DAB5E5">
                        <File Id="fil2F0784202F1357EAF0CBFF0B4CFFA97A" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\libmxit.dll" />
                    </Component>
                    <Component Id="cmp74B0E2701BFC14933865CD507ED96341">
                        <File Id="fil0D381F25D0402B3B9CAE5E9E4DA0B212" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\libmyspace.dll" />
                    </Component>
                    <Component Id="cmp986229A30743B027FC2355B845A3414B">
                        <File Id="fil0010C339BB6F51FB7781F14C753E091D" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\libnovell.dll" />
                    </Component>
                    <Component Id="cmp08C064E9E9AAAA2A2914AABE5313B80A">
                        <File Id="fil46CA5EDFF97FE5AC0098E4DD3CC0FCBE" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\libsametime.dll" />
                    </Component>
                    <Component Id="cmp8C14F24D6BFDCDACEC89C21B5AF880E6">
                        <File Id="fil842A27C2D6B207DCE5E50D671FBE5EAA" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\libsilc.dll" />
                    </Component>
                    <Component Id="cmpC6C134429DAE7F8EA2384A81395A4F66">
                        <File Id="fil9C9A9C5813E432462BB9A8FAF1DB13FD" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\libsimple.dll" />
                    </Component>
                    <Component Id="cmpC43EBB5E118ECF1036EBFC63987E8482">
                        <File Id="filE637B25C9F69A538F7BE2F1FB4406FC2" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\libxmpp.dll" />
                    </Component>
                    <Component Id="cmpE961373E6E7135F63E2E63B31FB81E46">
                        <File Id="fil878CBA107F5B6B8C6B6931EE90C7B886" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\libyahoo.dll" />
                    </Component>
                    <Component Id="cmpDF59061F7811835C47B48C422A643D60">
                        <File Id="filADDEFB32E55D2D78E95D9E4D3986C156" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\libyahoojp.dll" />
                    </Component>
                    <Component Id="cmp5D17C641BF2889CF01A8D6DB18454708">
                        <File Id="filA8E53D15E89C3C5A566A7A274F781809" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\log_reader.dll" />
                    </Component>
                    <Component Id="cmp3E9E8C26BF74DD84B0D7C78A0123B0AA">
                        <File Id="filA44FFEB2589A2FA086FD6B246ED5CC9C" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\markerline.dll" />
                    </Component>
                    <Component Id="cmp6285D2AC8997D374FD56AA60D9B9B66D">
                        <File Id="fil177A0A131A7D9C46D14068E2412FC42C" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\newline.dll" />
                    </Component>
                    <Component Id="cmp2A7AA11ACBE628257FD71621E6BF1542">
                        <File Id="fil72F5DA75D9360B9CD6399D54F7A270FD" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\notify.dll" />
                    </Component>
                    <Component Id="cmpD366397404BF6B803D36AB6A8BE1242F">
                        <File Id="filBDFD532C29FA39AC125F2C5FF74F6E40" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\offlinemsg.dll" />
                    </Component>
                    <Component Id="cmp9DF4EA09C5BA3A8BF3DE741FB6A2B7AF">
                        <File Id="filB8EB983764D72FAC26406F35B2265D6F" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\perl.dll" />
                    </Component>
                    <Component Id="cmp86CAD49A7764F9164C3A3934A1441277">
                        <File Id="fil07E723DDACCF0CEA97564858AADD9D0A" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\pidginrc.dll" />
                    </Component>
                    <Component Id="cmp7F3D12A8541F20D22E50DA225BBF8FFF">
                        <File Id="fil6B635E3A121CCB49D78697E61467495A" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\psychic.dll" />
                    </Component>
                    <Component Id="cmpAD1840041A01EC0CA39F1A2D12CCBEBE">
                        <File Id="fil5653F2C8B10ECAAEF30AFE1B6F54A2EF" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\relnot.dll" />
                    </Component>
                    <Component Id="cmpAB5CD503560F3B6BAEF2ADEB198F7B92">
                        <File Id="fil810B58EC9422F1C4EC2C1C1BCB282437" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\sendbutton.dll" />
                    </Component>
                    <Component Id="cmpE6D5984E27B8C38106F9B8252855B56F">
                        <File Id="fil3A706532235552CB053247B7155C8AC2" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\spellchk.dll" />
                    </Component>
                    <Component Id="cmp796CBA8556C466EC6C4AC140AB90D012">
                        <File Id="filC907D1387FF22CDDE571A99658E38233" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\ssl-nss.dll" />
                    </Component>
                    <Component Id="cmp8EC142B0581056DF23CF76F375A35443">
                        <File Id="fil948EAD139786D9C00A0A1B2DE9D80DAE" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\ssl.dll" />
                    </Component>
                    <Component Id="cmpC3FB5A2241FFE94A99293C210EE2BA46">
                        <File Id="fil501F81921D5ABDB6A9E5BD8E5A9D18FD" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\statenotify.dll" />
                    </Component>
                    <Component Id="cmp87CC21516267A5FD76FD167EE598F673">
                        <File Id="fil3E5D7817E96B380F1024BF6A9DB7DFD1" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\tcl.dll" />
                    </Component>
                    <Component Id="cmp3E50BD458CBAF417584DA15C9124DD64">
                        <File Id="filB2555980F20CE0C3B2F797BB443EC642" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\themeedit.dll" />
                    </Component>
                    <Component Id="cmpF2E2DC9CD2DBD97BAEC449BC0F53C459">
                        <File Id="filA2132282D4EF6BC2A38DFF8030B2D846" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\ticker.dll" />
                    </Component>
                    <Component Id="cmpA23B7B03302DD045B4DA01E871F85988">
                        <File Id="fil9E0B20E1188D616D97809BB15B702001" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\timestamp.dll" />
                    </Component>
                    <Component Id="cmp990B4A7D7F9342997397E00C7780605C">
                        <File Id="filEF45036EF91BE98814D472D8968C984C" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\timestamp_format.dll" />
                    </Component>
                    <Component Id="cmp03DEC87F23DCEB4ED2CF5CADC7F8A826">
                        <File Id="fil7C198EB0FC29A393B818A9757F576FEC" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\win2ktrans.dll" />
                    </Component>
                    <Component Id="cmp4733B34D86BBA1008C35A2EC4E076B6A">
                        <File Id="filC688EC25E654AEC73AAE71584C8C59D8" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\winprefs.dll" />
                    </Component>
                    <Component Id="cmp4A37EB13B70BEDF81E4C08FB1A076C68">
                        <File Id="filBA140FFB522381CC41DDF385D883B75D" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\xmppconsole.dll" />
                    </Component>
                    <Component Id="cmp2D9142CDA228CA28337A094381655FCC">
                        <File Id="filE15F7D41C9B895A3166307483C2A1DED" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\xmppdisco.dll" />
                    </Component>
                    <Directory Id="dir7639BD52CB2D578C5210DB9789A58247" Name="perl">
                        <Component Id="cmpA0C3A5E75771A0CF769A38F82920C1BA">
                            <File Id="filEC4954360227BBCE51D0EBBE018BB96F" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\perl\Purple.pm" />
                        </Component>
                        <Directory Id="dirEBC8143BCD9689D8AD684CC1F348B0A6" Name="auto">
                            <Directory Id="dirE52253AAC59620F338E7097177AFB820" Name="Purple">
                                <Component Id="cmp1E881D5384AD74C3A95B6703D910D6C2">
                                    <File Id="filADE1130FCF2A9176BE8A7A8E9D5F73A1" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\plugins\perl\auto\Purple\autosplit.ix" />
                                </Component>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
                <Directory Id="dir0ADA3BCE1A8E77FEF43062B9446911D6" Name="sasl2">
                    <Component Id="cmp4EAABF6705839238B4300B150C50248E">
                        <File Id="filB912540C18960CC77BB6D63979E2F6FF" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\sasl2\saslANONYMOUS.dll" />
                    </Component>
                    <Component Id="cmp64CE6A72A7D8EB8B012B0C6566293F4A">
                        <File Id="filA6DD124F115E53CCCFE922B7A38E47D1" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\sasl2\saslCRAMMD5.dll" />
                    </Component>
                    <Component Id="cmp0379666367739856D5D22925B1D0D804">
                        <File Id="filD5AF0BDB30C317F81ABAA872D5CBAD3B" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\sasl2\saslDIGESTMD5.dll" />
                    </Component>
                    <Component Id="cmp2C5C2D92C00E69B666B911D6EB7AD061">
                        <File Id="fil6074B5B8DA660AA844448133C4ED34BC" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\sasl2\saslGSSAPI.dll" />
                    </Component>
                    <Component Id="cmp6AD9E51EF168FCF7EE7359353538DDE6">
                        <File Id="fil7B40AF1F040BE2C47E50A230F22D663E" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\sasl2\saslLOGIN.dll" />
                    </Component>
                    <Component Id="cmp4F948E429E1B71AE14422B62B20DF4B9">
                        <File Id="filDC126FD6F86D17CDF67EE74F753FFAC2" KeyPath="yes" Source="$(env.PIDGIN_BINARY)\sasl2\saslPLAIN.dll" />
                    </Component>
                </Directory>
			</Directory>
		<Directory Id="ProgramMenuFolder" Name="Programs">
			<Directory Id="ProgramMenuDir" Name="$(var.ProductNameShort)">
			  <Component Win64="$(var.Win64)" Id="ProgramMenuDir">
				<RemoveFolder Id='ProgramMenuDir' On='uninstall' />
				<RegistryValue Root='HKCU' Key='Software\$(var.ProductNameShort)' Type='string' Value='' KeyPath='yes' />
			  </Component>
			</Directory>
		</Directory>
		<Directory Id="DesktopFolder" Name="Desktop" />
		<Directory Id="StartupFolder" Name="Startup" />
	  </Directory>
    </Directory>
	
    <Feature Id='Complete' 
		Title='$(var.ProductNameShort)' 
		Level='1' 
		ConfigurableDirectory='INSTALLDIR'
        Display='expand'>
      <ComponentRef Id='ProgramMenuDir' />
      <ComponentRef Id="cmp4B5BEF3E6FA093275C7685056C3BED76" />
      <ComponentRef Id="cmp5D9552305D370D14D3E52F0F58F20289" />
      <ComponentRef Id="cmpC5B6621C6BC14875AAACE3BAE019BBF7" />
      <ComponentRef Id="cmpBD142C6A4FDF5ED70D14D153FCF1C8C4" />
      <ComponentRef Id="cmpBC8E58B56EB959A22E223F020811B0F4" />
      <ComponentRef Id="cmpBF2F64F5E4A756F99E8E9CF06233C9BA" />
      <ComponentRef Id="cmp68787459FF02C7B01876FABC04D66436" />
      <ComponentRef Id="cmp84FCA4500BB39F43137627D190354ED0" />
      <ComponentRef Id="cmpD41DF5F43D32996331A17862EA7B1AFB" />
      <ComponentRef Id="cmpE7A480A3F2B14D0934FBD5D93E7F16A8" />
      <ComponentRef Id="cmp45AC559D28517F5432DF5784A1E4FC00" />
      <ComponentRef Id="cmp93FE3FADD34026B30D964D067C904CD0" />
      <ComponentRef Id="cmp2BC355DF5A52D074F271FCB7333869B4" />
      <ComponentRef Id="cmp8C3AFA76A0E2701533D313BD3D706438" />
      <ComponentRef Id="cmp9EF0E5799FB96988C3BBF1899EC52118" />
      <ComponentRef Id="cmp1D08FA19686CA1642ED7C43C774C326B" />
      <ComponentRef Id="cmpD3FC5DEDF3EF79DAE73E737F85E96159" />
      <ComponentRef Id="cmpA85B025D51ABD87EDD4AA47B1E9A4E4E" />
      <ComponentRef Id="cmp220992909CD358E67B702DD90B5B0F7E" />
      <ComponentRef Id="cmpD027EF6B7483C15904F46AD47AA2A28D" />
      <ComponentRef Id="cmp8CAFBBCEFDA096798C6BD867EFDAD51C" />
      <ComponentRef Id="cmp7CB62F256AD65EB531C849429006E22F" />
      <ComponentRef Id="cmpD6F61D19F9B876CE54A6BA6D3A31A66E" />
      <ComponentRef Id="cmp567C483BF0D5D0DBE2FAAA72E7B189FA" />
      <ComponentRef Id="cmp6E06CF1AC1078DBDA60AEFAB256DC714" />
      <ComponentRef Id="cmp400F6DB334F0F58A86E6205D3BB91F2F" />
      <ComponentRef Id="cmp01F0489D00C0B0CF544F337EE0D16E1D" />
      <ComponentRef Id="cmp1AAA9FABB51C8BDB0872676B43A3F447" />
      <ComponentRef Id="cmp4FD6634C3E103B79E6A557C6355D3050" />
      <ComponentRef Id="cmp54ECF1ACEE71713E7E1F60814B58186A" />
      <ComponentRef Id="cmpA63B45F30CF5822BA4B815AD4959E3F7" />
      <ComponentRef Id="cmp78EB641082D932284CD9EBE1FF4E84A8" />
      <ComponentRef Id="cmp25BFA6EF089DC1EF2464F484F2D16316" />
      <ComponentRef Id="cmp13DAEB208803818205035FA477EACA37" />
      <ComponentRef Id="cmpCBD09E649EEF9504A30804A20BDEA196" />
      <ComponentRef Id="cmpC0311F4E69D4BAFD51839D922697B843" />
      <ComponentRef Id="cmp44A65A949CCABC559604A8F73EEB47DF" />
      <ComponentRef Id="cmp476E6526C3A53FC3DE62C3992FE1C284" />
      <ComponentRef Id="cmp06EA0CFE99A91BE320B28320A72824BB" />
      <ComponentRef Id="cmpD271E68AB674D6CE8F77380183FA1801" />
      <ComponentRef Id="cmp8C3A6F1184FDCD2B990EE5F9EC7C7AE4" />
      <ComponentRef Id="cmp1B018080FE374F058AAEBEB5A6DAB5E5" />
      <ComponentRef Id="cmp74B0E2701BFC14933865CD507ED96341" />
      <ComponentRef Id="cmp986229A30743B027FC2355B845A3414B" />
      <ComponentRef Id="cmp08C064E9E9AAAA2A2914AABE5313B80A" />
      <ComponentRef Id="cmp8C14F24D6BFDCDACEC89C21B5AF880E6" />
      <ComponentRef Id="cmpC6C134429DAE7F8EA2384A81395A4F66" />
      <ComponentRef Id="cmpC43EBB5E118ECF1036EBFC63987E8482" />
      <ComponentRef Id="cmpE961373E6E7135F63E2E63B31FB81E46" />
      <ComponentRef Id="cmpDF59061F7811835C47B48C422A643D60" />
      <ComponentRef Id="cmp5D17C641BF2889CF01A8D6DB18454708" />
      <ComponentRef Id="cmp3E9E8C26BF74DD84B0D7C78A0123B0AA" />
      <ComponentRef Id="cmp6285D2AC8997D374FD56AA60D9B9B66D" />
      <ComponentRef Id="cmp2A7AA11ACBE628257FD71621E6BF1542" />
      <ComponentRef Id="cmpD366397404BF6B803D36AB6A8BE1242F" />
      <ComponentRef Id="cmp9DF4EA09C5BA3A8BF3DE741FB6A2B7AF" />
      <ComponentRef Id="cmp86CAD49A7764F9164C3A3934A1441277" />
      <ComponentRef Id="cmp7F3D12A8541F20D22E50DA225BBF8FFF" />
      <ComponentRef Id="cmpAD1840041A01EC0CA39F1A2D12CCBEBE" />
      <ComponentRef Id="cmpAB5CD503560F3B6BAEF2ADEB198F7B92" />
      <ComponentRef Id="cmpE6D5984E27B8C38106F9B8252855B56F" />
      <ComponentRef Id="cmp796CBA8556C466EC6C4AC140AB90D012" />
      <ComponentRef Id="cmp8EC142B0581056DF23CF76F375A35443" />
      <ComponentRef Id="cmpC3FB5A2241FFE94A99293C210EE2BA46" />
      <ComponentRef Id="cmp87CC21516267A5FD76FD167EE598F673" />
      <ComponentRef Id="cmp3E50BD458CBAF417584DA15C9124DD64" />
      <ComponentRef Id="cmpF2E2DC9CD2DBD97BAEC449BC0F53C459" />
      <ComponentRef Id="cmpA23B7B03302DD045B4DA01E871F85988" />
      <ComponentRef Id="cmp990B4A7D7F9342997397E00C7780605C" />
      <ComponentRef Id="cmp03DEC87F23DCEB4ED2CF5CADC7F8A826" />
      <ComponentRef Id="cmp4733B34D86BBA1008C35A2EC4E076B6A" />
      <ComponentRef Id="cmp4A37EB13B70BEDF81E4C08FB1A076C68" />
      <ComponentRef Id="cmp2D9142CDA228CA28337A094381655FCC" />
      <ComponentRef Id="cmpA0C3A5E75771A0CF769A38F82920C1BA" />
      <ComponentRef Id="cmp1E881D5384AD74C3A95B6703D910D6C2" />
      <ComponentRef Id="cmp4EAABF6705839238B4300B150C50248E" />
      <ComponentRef Id="cmp64CE6A72A7D8EB8B012B0C6566293F4A" />
      <ComponentRef Id="cmp0379666367739856D5D22925B1D0D804" />
      <ComponentRef Id="cmp2C5C2D92C00E69B666B911D6EB7AD061" />
      <ComponentRef Id="cmp6AD9E51EF168FCF7EE7359353538DDE6" />
      <ComponentRef Id="cmp4F948E429E1B71AE14422B62B20DF4B9" />
      <!-- Qt objects-->
      <ComponentRef Id="cmp8CAFBBCEFDA096798C6BD867EFDAD999" />
      <ComponentRef Id="cmp8CAFBBCEFDA096798C6BD867EFDAD998" />
      <ComponentRef Id="cmp8CAFBBCEFDA096798C6BD867EFDAD997" />
      <ComponentRef Id="cmp8CAFBBCEFDA096798C6BD867EFDAD996" />
    </Feature>

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <WixVariable Id="WixUILicenseRtf" Value="../LICENSE" />
	<!--<WixVariable Id="WixUIBannerBmp" Value="Banner.bmp" />
	<WixVariable Id="WixUIDialogBmp" Value="Welcome.bmp" />-->

    <Icon Id="logo.ico" SourceFile="..\data\images\logo.ico" />
	<Property Id="ARPPRODUCTICON" Value="logo.ico" />
	<Property Id="ARPHELPLINK" Value="http://www.quail.im/" />
	<Property Id="INSTALLLOCATION">
		<RegistrySearch Id="RegistrySearch" Type="raw" Root="HKLM" Win64="$(var.Win64)"
              Key="Software\$(var.ProductNameShort)" Name="InstallLocation" />
	</Property>

    <Upgrade Id="$(var.ProductUpgradeCode)">
	  <UpgradeVersion Minimum='!(bind.FileVersion.appEXE)'
					  IncludeMinimum='no'
					  OnlyDetect='yes'
					  Property='NEWPRODUCTFOUND' />
	  <UpgradeVersion Minimum='$(var.RTMProductVersion)'
					  IncludeMinimum='yes'
					  Maximum='!(bind.FileVersion.appEXE)'
					  IncludeMaximum='yes'
					  Property='UPGRADEFOUND' />
    </Upgrade>
    <!-- Prevent downgrading -->
	
	<CustomAction Id="PreventDowngrading" Error="Newer version already installed." />

    <!-- Sequences -->
    <InstallExecuteSequence>
		<Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
		<RemoveExistingProducts Before="InstallInitialize"/>
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWPRODUCTFOUND</Custom>
    </InstallUISequence>

	</Product>
</Wix>
